//Color variables.
$primary-color: #fff;

//Font-family varibales.
$title-font: "Source Sans Pro", Helvetica, sans-serif;
$sub-title-font: "Raleway", sans-serif;
$text-font: "Courrier New", monospace;

//Font weight variables.
$text-bold: 800;
$text-medium: 500;


